/*主選單區*/
@media screen and (max-width: 1279px) and (min-width: 751px)
.timeline_unit.left{
	float:left;
}
.body,html{
	font-family: Arial;
	background-color: #ddd;
	height: 99%;
}
#main{
	width: 98%;
	margin: 1%;
	min-height: 98%;
	background-color: #fff;
	border-bottom: 0.9em solid #ddd;
}
.main_nav {
	text-align: center;
	margin: 0;
	background-color: #fff;
	padding: 9px 0 0 0;
	position: relative;
	z-index: 150;
}
.main_nav li {
	display: inline-block;
	padding: 0 0 7px;
	margin: 0 -2px;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	list-style-position: outside;
}
.main_nav li a{
	position: relative;
	text-transform: uppercase;
	letter-spacing: .15em;
	font-weight: 600;
	text-align: center;
	font-size: 16px;
	padding: 11px 15px 10px;
}
.main_nav li a:hover{
	text-decoration: none;
	padding: 11px 15px 10px;
}
#main_menu{
	position: fixed;
    top: 0;
    z-index: 151;
    display: block;
    margin: 0 auto;
    background: #ddd;
    padding: 13px 0 0 0;
    text-align: center;
    width: 98%
}
#main_menu.fixed{
	position: fixed;
}

.row{
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}
a,a:hover,a:focus{
	color: #59b4a2;
}
a{
  letter-spacing: 2px;
	text-decoration: none;
}
.hr{
	margin: 20px auto 45px;
}
.hr,.tmhr{
	display: block;
	clear: both;
	width: 100%;
	height: 1px;
	background: -webkit-linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%)
}
.main_nav li a:hover, .link-active{
	background: #59b4a2;
	color: #fff;
}
.ul,ol{
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 17px;
	list-style-position: outside;
}
/*內容*/
.body,div{
	margin: 0;
	padding: 0;
}
.ting-image-parent{
	position: relative;
	height: 320px;
	width: 320px;
	margin: 50px auto 25px;
	border-radius: 50%;
	border: 1px dashed #ddd;
}
.ting-image-holder{
	width: 250px;
	height: 250px;
	position: relative;
	margin: 35px auto;
}
.ting-image.ting_animate{
	width: 250px;
	height: 250px;
	margin: 0px 0 0 0px;
	border-radius: 50%;
}
.pos{
	position: absolute;
	display: block;
	height: 43px;
	width: 43px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 50%;
	z-index: 100;
	opacity: 0;
}
.pos_2{
	top: 280px;
	left: 65px;
	background-position: -3px 7px;
}
.pos_3{
	top: 280px;
	right: 65px;
	background-position: -3px 6px;
}
.pos_2:hover{
	background-position: -3px -25px;
}
.pos_3:hover{
	background-position: -3px -26px;
}
.body,div,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.h1,h2,h3,h4,h5,div{
	font-family: Arial;
	text-rendering: optimizeLegibility;
	color: #666;
	padding: 0;
}
p{
	font-size: 16px;
	line-height: 25px;
	color: #222;
}
h2{
	font-size: 52px;
	line-height: 60px;
	margin-bottom: 25px;
}
h3{
	font-size: 26px;
	line-height: 36px;
	padding: 0;
}
h4{
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #666;
}
p.subline{
	font-family: Arial;
	width: 50%;
  margin: 5px auto 0;
	line-height: 28px;
	font-size: 20px;
	color: #999;
}
.div{
	display: block;
}
.zero-margin{
	margin: 0;
}
.name-box{
	text-align: center;
}
.clearrow{
	display: block;
	width: 100%;
	height: 35px;
	float: left;
}
/*按鈕*/
.text-center{
	text-align: center;
	font-family: Arial;
}
.button {
font:normal 18px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#fff;
background:#59b4a2;
border:0px solid 0;
text-shadow:0px 0px 0px 0;
box-shadow:0px 0px 0px ;
-moz-box-shadow:0px 0px 0px ;
-webkit-box-shadow:0px 0px 0px ;
border-radius:90px 90px 90px 90px;
-moz-border-radius:90px 90px 90px 90px;
-webkit-border-radius:90px 90px 90px 90px;
width:126px;
padding:10px 35px;
cursor:pointer;
margin:0 auto;
}
.i2Style:active{
cursor:pointer;
position:relative;
top:2px;
}
.button:hover {
  box-shadow: inset 0 0 0 5px #76c1b3;
	font:normal 18px Tahoma, Geneva, sans-serif;
	font-style:normal;
	color:#fff;
}
/*ABOUT ME*/
.separator{
	display: block;
	width: 100%;
	height: 1px;
	float: left;
	background: -webkit-linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
	clear: both;
	margin: 55px 0;
}
.separator.special .inside
{
  margin-top: 23px;
}
/*TIMELINE*/
.timeline{
	background: url(images/timeline-bg.png)center top repeat-y;
	width: 100%;
	float: left;
}
.timeline_point{
	width: 70px;
	height: 30px;
	display: block;
	margin: 0 auto 20px auto;
	border-radius: 50%;
	background: #59b4a2;
	text-align: center;
	padding: 25px 5px;
	overflow: hidden;
	border-radius: 50%
}
.timeline_point span{
	color: #fff;
	font-weight: 600;
	letter-spacing: .15em;
	text-align: center;
	font-size: 14px;
}
.timeline_unit{
	background: #fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius: 4px;
	float: left;
	position: relative;
	width: 440px;
	padding: 20px;
	-webkit-box-shadow:0 0px 5px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0px 5px rgba(0,0,0,0.3);
	-ms-box-shadow:0 0px 5px rgba(0,0,0,0.3);
	-o-box-shadow:0 0px 5px rgba(0,0,0,0.3);
	box-shadow: 0 0px 5px rgba(0,0,0,0.3);
	z-index: 100;
}
.left{
	float: left;
}
.timeline_unit.left{
	float: left;
	clear: left;
	margin: 0 0 55px 20px;
}
@media screen and (max-width: 1279px) and (min-width: 751px)
.timeline_unit.left .icon{
	right:-27.5%
}
.timeline_unit.left .icon{
    top:10px;
    right: -105px;
}
.timeline_unit.right .icon{
	top: 90px;
	left: -105px;
}
.timeline_unit .icon{
    margin: 0 auto;
    overflow: hidden;
	height: 20px;
	width: 60px;
	display: block;
    border-radius: 50%;
	background: #59b4a2;
	text-align: center;	
	padding: 0;
	position: absolute;
	padding: 25px 5px;
}
.icon span{
	color: #fff;
	font-weight: 600;
	letter-spacing: .15em;
	text-align: center;
	font-size: 14px;
}
.timeline_unit.data_meta_hold{
	margin: 0 0 5px;
	padding: 0;
}
.timeline_meta_hold{
	margin: 0 0 5px;
	float: left;
	width: 100%;
	padding: 0 0 5px;
}
.timeline_unit .arrow{
	width: 24px;
	height: 24px;
	background: #fff;
	-webkit-box-shadow:-2px -2px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:-2px -2px 3px rgba(0, 0, 0, 0.15);
	-ms-box-shadow:-2px -2px 3px rgba(0, 0, 0, 0.15);
	-o-box-shadow:-2px -2px 3px rgba(0, 0, 0, 0.15);
	box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.15);
	position: absolute;
	top: 20px;
}
.timeline_unit.left .arrow{
	right: -12px;
	-webkit-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	transform: rotate(135deg);
}
.timeline_unit.right .arrow{
    left: -12px;
    top: 110px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform: rotate(-45deg);
}
.timeline_img{
	border-radius: 4px 4px 0 0;
	margin: 0 0 5px;
	width: 100%;
}
.img{
	height: auto;
}
.img, object, embed{
	max-width: 100%;
}
@media screen and (max-width: 1279px) and (min-width: 751px)
.timeline_unit.right {
	float:right;
	margin:0 20px 55px 0;
}
.timeline_unit.right{
	float: right;
	clear: right;
	margin: 0 20px 55px 0;
}
.timeline_point.smaller.last{
	margin: 35px auto 0;
}
.timeline_point.smaller{
	width: 60px;
	height: 14px;
	padding: 28px 5px;
	margin: 35px auto;
	clear: both;
}
/*EDUCATION*/
.data_meta_hold{
	margin: 0 0 5px;
	float: left;
	width: 100%;
	padding: 0 0 5px;
}
.image_rounded img,
.image_rounded_cente img{
    border-radius: 50px;
    width: 80px;
    height: 80px;
}
.img_rounded{
	float: left;
	margin: 0 15px 0 0;
	overflow: hidden;
}
.title_with_image{
	margin: 0;
}
.subtitle_with_image{
	font-weight: normal;
	font-size: 14px;
	color: #666;
	margin: 0;
	text-transform: uppercase;
}
/*SKILL SECTION*/
.skill_box{
	margin: 20px 0 0;
}
.skill_label{
	font-size: 16px;
	line-height: 1.2em;
	margin: 0 0 5px;
}
.skill_name{
	font-size: 14px;
	color: #aaa;
	float: right;
}
.skill_level{
	display: inline-block;
	background: #eee;
	width: 100%;
	height: 20px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
}
.skill_set{
	background: #59b4a2;
}
.skill_set{
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
}
.awsm_level{
	margin: 20px 0 15px;
	text-align: center;
}
p.quote{
	font-style: italic;
	color: #666;
	margin: 35px 0 0;
	text-align: center;
}
.knob_box_home{
	text-align: center;
}
element.style{
	display: inline;
	width: 400px;
	height: 200px;
}
.knob_box{
	margin: 0 auto !important;
}